@import "variables";
@import "mixins";
@import "placeholders";
@import "layout";

/* Header top*/
.header-top {
  @include general-style(transparent, $green);
  margin-top: 20px;

  .row {
    @extend %flex-center;
  }

  .page-title {
    text-align: center;
    padding-right: 42px;
  }

  .logo-wrapper {
    padding-left: 25px;
  }
}

/* Header bottom - Menu */
.navbar-default {
  @extend %transparent;
  margin-top: 20px;
  font-size: 14px;

  li {
    border-right: 1px solid $green;
    &:last-child {
      border-right: none;
    }
    a {
      @include space(4px, 10px);
    }
  }
  .navbar-nav > .active > a {
    @include general-style(transparent, $green);
  }
}

.navbar-collapse {
  padding: 0;
}

/* Overall conclusion */
.overall-conclusion-row {
  @extend %flex-center;
  height: 198px;

  .column-left {
    @extend %flex-center;
    img {
      @include position(relative, 0, 0, 0, -6px);
      height: 35px;
      padding-right: 10px;
    }
  }

  .column-right {
    font-size: 18px;
    padding-right: 40px;
  }
}

/* Fact green */
.fact-green {
  .column-right {
    h2 {
      margin-bottom: 20px;
    }
  }
  .column-left {
    @include position(relative, -55px);
  }

  .top-side-banner {
    width: 100%;
  }

  .one-transition, .one-role {
    min-height: 333px;
  }

  .graph, .one-transition, .one-role {
    padding: 33px;
  }

  .graph {
    border-right: 1px solid $green;
    text-align: center;
    img {
      width: 100%;
    }
    h5 {
      margin-bottom: 33px;
    }
  }

  .one-transition {
    h3 {
      margin-bottom: 33px;
    }
  }

  .one-role {
    h3 {
      margin-top: 33px;
    }
  }

  .content-wrapper {
    @extend %flex-center;
    flex-direction: column;
    justify-content: flex-start;
  }
}

/* Fact Blue */
.fact-blue {
  .row1 {
    overflow: hidden;
    .col-md-8 {
      padding-right: 0;
    }
    .col-md-4 {
      padding-left: 0;
    }
  }

  .title {
    font-size: 50px;
  }

  .play-button {
    @include position(relative, -45px);
  }

  .top-side-banner {
    img {
      min-height: 324.10px;
      @include position(relative, -0.9px);
    }
  }

  .seventy-five-percent-fact {
    padding: 45px;
    height: 686px;
    p {
      padding-bottom: 5px;
    }
  }

  .arrow-percent {
    position: relative;
    margin-bottom: 25px;

    .percentage {
      position: absolute;
      top: 15px;
      left: 10px;
      transform: rotate(45deg);
      font-size: 19px;
      font-weight: bold;
    }
  }

  .industry-contribution {
    padding: 30px;
    text-align: center;
    border-right: 1px solid $blue;
    h5 {
      padding-bottom: 20px;
    }
  }

  .chart-description {
    display: flex;
  }
  .column-right {
    margin-left: 70px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: left;
  }
  p {
    padding-bottom: 20px;
  }
}

.specific-action {
  margin-top: 30px;
  padding: 23px;
  display: flex;
  flex-direction: column;

  p {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .column-left, .column-right {
    flex: 1;
  }

  .column-top {
    padding: 5px;
    margin: 0;
    display: flex;
  }

  .column-bottom {
    padding: 5px;
    display: flex;
  }

  h5::before {
    content: "> ";
    font-weight: normal;
    line-height: 30px;
  }
}

.financial-fact {
  padding: 30px;
  border-left: 1px solid $blue;
  height: 362px;

  .description {
    position: relative;
    height: 237px;
  }

  .border-radius-top {
    position: absolute;
    right: 0;
    top: 0;
  }

  .border-radius-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .description-detail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 30px;
    z-index: 1;
  }

}

.money-pocket-img {
  position: relative;
  display: inline-block;
  left: 30px;
  top: 20px;

  .euro-sign {
    display: inline-block;
    color: white;
    font-size: 25px;
    position: absolute;
    top: 30px;
    left: 15px;

  }
}

.ten-actions-bar-chart {
  @extend %flex-center;
  flex-direction: column;
  padding: 33px 0;
  border-right: 1px solid $blue;
  .chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 98%;
    p {
      padding-bottom: 0;
      padding-top: 10px;
    }
    .column-right {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .column-left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.ten-actions-diagram {
  text-align: center;
  padding: 10px 30px;
  h5 {
    padding-bottom: 20px;
  }
  img {
    width: 100%;
  }
}

.fact-blue {
  .bottom-side-banner {
    position: relative;
    img {
      width: 100%;
    }
    .description {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      h3 {
        font-size: 40px;
        color: $blue;
      }
      p {
        padding-bottom: 10px;
      }
    }
  }
}

/* Fact Marble*/
.fact-marble {
  .conclusion {
    align-items: flex-end;
  }
  .column-left {
    margin-top: 50px;
    align-self: flex-start;
  }
  .column-right {
    h2 {
      margin-bottom: 30px;
    }
  }
}

.analysis-fact {
  border-left: 1px solid $marble;
  .analysis-title {
    padding: 30px;
  }
  .paddy-field {
    width: 100%;
  }
  .image {
    position: relative;
  }
  .increase-triangle {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .analysis-description {
    padding: 30px;
    height: 323px;
  }
}

.money-saving-fact {
  padding: 30px 50px;
  border: 2px solid white;
  border-radius: 4px;
  margin-bottom: 30px;
  h3 {
    padding-bottom: 20px;
  }
}

.triangle-chart {
  padding: 30px;
  text-align: center;
  h5 {
    padding-bottom: 29px;
  }
}

.CO2-emission-fact {
  padding: 30px 35px;
  border-right: 1px solid $marble;
  height: 719px;

  img {
    width: 100%;
  }
  h3, h5 {
    padding-bottom: 30px;
  }

  h5 {
    text-align: center;
  }

  p {
    padding-top: 30px;
  }
}

/* Fact Sky Blue */
.fact-sky-blue {
  .conclusion {
    align-items: flex-start;
    padding-top: 70px;
  }
  .column-right {
    h3 {
      margin-bottom: 30px;
    }
  }
  .top-side-banner {
    border-right: 1px solid $sky-blue;
  }
}

.CO2-and-climate {
  padding: 25px;
  height: 333px;
  h3 {
    padding: 0 25px;
  }
  .border-radius-top, .border-radius-bottom {
    position: relative;
  }
  .border-radius-top {
    top: 10px;
  }
  .border-radius-bottom {
    bottom: 10px;
  }
}

.climate-evolution-chart {
  height: 333px;
  text-align: center;
  border-right: 1px solid $sky-blue;
  padding: 30px;
  h5 {
    padding-bottom: 15px;
  }
}

.energy-impact-chart {
  border-left: 1px solid $sky-blue;
  height: 333px;
  text-align: center;
  padding: 30px;
  img {
    width: 100%;
  }
  h5 {
    padding-bottom: 20px;
  }
}

.prediction {
  position: relative;
  padding: 15px;
  height: 333px;
  .triangle-bottom {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  p {
    padding: 5px 20px;
  }
}

.fact-sky-blue {
  .middle-side-banner{
    height: 333px;
    overflow: hidden;
    position: relative;
    width: 100%;
    img{
      width: 100%;
      position: relative;
      top: -60px;
    }
    h3{
      position: absolute;
      top: 30px;
      text-align: center;
      width: 40%;
      left: 50%;
      transform: translateX(-50%);

    }
  }
}

.electric-car-impact-chart{
  height: 333px;
  padding: 30px;
  text-align: center;
  border-right: 1px solid $sky-blue;

  img{
    width: 100%;
  }
  p{
    padding-bottom: 5px;
  }
}

.cite-quote{
  height: 333px;
  padding: 30px 40px;
  display: flex;
  text-align: right;
  align-items: center;
  h3{
    padding-right: 30px;
  }
}

.budget-impact-trend-chart{
  height: 333px;
  padding: 30px;
  text-align: center;
  h5{
    padding-bottom: 10px;
  }
  img{
    width: 90%;
  }
}

/* Fact Orange */
.fact-orange {
  .conclusion {
    position: relative;
  }
  .leaf {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

/* Footer */
footer {
  color: $gray;
  .fa {
    border: 1px solid $gray;
    font-size: 25px;
    @include space(10px, 10px, 20px, 10px);
  }
}

.contact {
  display: flex;
  justify-content: flex-end;
}

.mention, .email {
  text-align: center;
  padding-right: 10px;
}








